/**
 * 1. Update <hr> styling to use text color
 * 2. Use correct box sizing in Firefox
 * 3. Display overflow in Edge and IE
 * 4. Inherit color correctly in Firefox
 * 5. Set full width within Flex parent
 */
hr {
  border-width: 0 0 1px 0; /* 1 */
  border-color: currentColor; /* 1 */
  border-style: solid; /* 1 */
  box-sizing: content-box; /* 2 */
  height: 0;
  overflow: visible; /* 3 */
  color: inherit; /* 4 */
  margin-left: 0; /* 5 */
  margin-right: 0; /* 5 */
}

figure {
  margin: 0;
}


/**
 * 1. Set a default background color
 * 2. Remove border in Firefox, IE, and Edge
 * 3. Inherit color to remove blue progress color in IE
 * 4. Set a default height
 * 5. Set a resonable alignment
 */
progress {
  background-color: lightgray; /* 1 */
  overflow: hidden;
  border: none; /* 2 */
  color: inherit; /* 3 */
  height: 3px; /* 4 */
  vertical-align: middle; /* 5 */

  &::-webkit-progress-bar {
    background-color: inherit;
  }

  &::-webkit-progress-value {
    background-color: currentColor;
  }

  &::-moz-progress-bar {
    background-color: currentColor;
  }
}

/**
 * 1. Remove spacing below <img>
 * 2. Make <img> responsive
 */
img {
  vertical-align: middle; /* 1 */
  max-width: 100%; /* 2 */
}

/**
 * Remove default border
 */
iframe {
  border: 0;
}
